.h1_classe {
   font-style: italic;
   font-size: 2pc; 
}

h1 {
   border: 2px solid red;
   background-color: rgb(255, 0, 0);
   
   padding-top: pc;
   padding-left: 18pc;
   color:white;

}
#idh1-header {
   color: blue;
   font-size: 1.6pc;
   background-color: red;
}
#id_p1-header {
   color: white;
   margin-top: 1pc;
   font-size: 1.5pc;
   
}
p1 {
   font-size: 2pc;
   border: 0.4pc dashed rgb(255, 0, 0);
   background-color: rgb(255, 0, 0);
   color:black;
   border-radius: 1pc;
}
