.h1_classe {
   font-style: italic;
   font-size: 2pc; 
}

h1 {
   border: 2px solid red;
   background-color: rgb(255, 0, 0);
   
   padding-top: pc;
   padding-left: 18pc;
   color:rgb(255, 255, 255);

}

#id_p1-header {
   color: rgb(255, 3, 3);
   margin-top: 1pc;
   font-size: 1.5pc;
   
}
p1 {
   font-size: 2pc;
   border: 0.4pc dashed rgb(255, 0, 0);
   background-color: rgb(255, 0, 0);
   color:rgb(255, 246, 246);
   border-radius: 1pc;
}
p {
   font-size: 2pc;
   color: blue;
}
