body {
  color: white;
  background-color: fuchsia;
  
}
ol {
  border: 0.2pc solid black;
  height: 8pc;
  width: 13pc;
  border-radius:1.5pc;
  background: blue;
  margin-left: 2.5pc;
  
  
}
li {
  padding-top: 0.7pc;
  border: 0.1pc solid white;
  width: 10pc;
  background-color: white;
  color: darkred;
  border-radius: 0.2pc;
  font-size: 1pc;
}




